<h1>Attributes Direction -- Refresher</h1>

<h2>ngClass / ngStyle</h2>
<style>
    html {
        margin: auto;
    }
    
    div {
        width: 200px;
        height: 200px;
    }
    
    .border {
        background-color: red;
        border: 5px solid green;
    }
</style>

<h1>{{x}}</h1>
<div [ngClass]="{border : x, background:blue}"></div>
<hr>
<p>this is another way to achieve the same where u can access the class of the div as [class.boder] = ture/false the squere brackets is the property binding
</p>
<hr>
<div [class.border]="x"></div>
<hr>
<p>this is how the ngStyle work [ngStyle]=" 'css-class':'value' "</p>
<div [ngStyle]="{'background-color':'gray'}"></div>

<button (click)="clicked()">Click Me </button>

<hr>
<h1>Custom Attribute Directive</h1>
<p>this is how the directive work as we inject the element in the constructor to the directive and change the color of style
    <strong>    this.element.nativeElement.style.backgroundColor = 'black';
</strong>
</p>
<div dirHighlight [highlightcolor]="'green'" [defaultcolor]="'black'"></div>
<div dirHighlight [highlightcolor]="'red'" [defaultcolor]="'black'"></div>

<h1>Structural Directive</h1>
<h2>*ngIf</h2>
<p *ngIf="x">Conditional Text, NOTE THAT
    <strong>this is a conditional text inner in the conditional parent div</strong>
</p>
<button (click)="clicked()">Switch</button>
<br>
<br>
<br>
<br>
<h2>*ngFor</h2>
<ul>
    <li *ngFor="let item of items; let i = index">{{item}} -- (Index: {{i}})</li>
</ul>
<br>
<br>
<br>
<br>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
    <p *ngSwitchCase="10">10</p>
    <p *ngSwitchCase="103">103</p>
    <p *ngSwitchCase="100">Here</p>
    <p *ngSwitchDefault>Not Exist</p>

</div>

<ng-template [ngIf]="x">
    <div>
        Conditional Text ... appears !!
    </div>
</ng-template>

<div *unless="x"> Unless Directive {{switch}}
    <p>Huaaaaaaa </p>
</div>