<!-- this is the detail of the recipe item-->

<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.img}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-raised btn-success">To Shopping List</button>
    <button class="btn btn-raised btn-warning">Edit</button>
    <button class="btn btn-raised btn-danger">Delete</button>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Ingredients: </strong>
  </div>
</div>
