<!-- Output list items-->

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-raised btn-primary">New Recipe</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- Recipes Item-->
    <ul class="list-group">
      <rec-book-app-recipe-item [recipe]="a" (click)="onSelected(a)"></rec-book-app-recipe-item>
      <rec-book-app-recipe-item [recipe]="b" (click)="onSelected(b)"></rec-book-app-recipe-item>
      <rec-book-app-recipe-item [recipe]="c" (click)="onSelected(c)"></rec-book-app-recipe-item>
    </ul>
  </div>
</div>